:root {

    /* header */

    --header-logo-web-color: rgba(33, 150, 243, 1);
    --header-logo-studio-color: rgba(0, 0, 0, 1);

    --nav-list-color: rgba(33, 33, 33, 1);
    --nav-list-hover: rgba(33, 150, 243, 1);

    --contacts-list-color: rgba(117, 117, 117, 1);
    --contacts-list-hover: rgba(33, 150, 243, 1);

    /* main */

    --filters-list-btn-color: rgba(33, 33, 33, 1);
    --filters-list-btn-background-color: rgba(245, 244, 250, 1);
    --filters-list-btn-hover: rgba(255, 255, 255, 1);
    --filters-list-btn-background-hover: rgba(33, 150, 243, 1);

    --projects-list-title-color: rgba(33, 33, 33, 1);
    --projects-list-description-color: rgba(117, 117, 117, 1);

    /* footer */

    --footer-background-color: rgba(47, 48, 58, 1);

    --footer-logo-web-color: rgba(33, 150, 243, 1);
    --footer-logo-studio-color: rgba(255, 255, 255, 1);

    --address-list-link-location-color: rgba(255, 255, 255, 1);
    --address-list-link-contacts-color: rgba(255, 255, 255, 0.6);
}

body {
    font-family: Roboto;
}

.header {
    border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.header-content-wrap {
    display: flex;
    align-items: center;
    gap: 93px;
    height: 80px;
}

.header-logo {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: left;
}

.header-logo-web {
    color: var(--header-logo-web-color);
}

.header-logo-studio {
    color: var(--header-logo-studio-color);
}

.nav-list {
    display: flex;
    gap: 50px;
}

.nav-list-link {
    color: var(--nav-list-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
}

.nav-list-link:hover {
    color: var(--nav-list-hover);
}

.contacts-list {
    display: flex;
    gap: 50px;
    margin-left: auto;
}

.contacts-list-link {
    color: var(--contacts-list-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
}

.contacts-list-link:hover {
    color: var(--contacts-list-hover);
}

.main {
    padding: 94px 0;
}

.filters-list {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 50px;
}

.filters-list-btn {
    color: var(--filters-list-btn-color);
    background-color: var(--filters-list-btn-background-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-align: center;
    border-radius: 4px;
    height: 38px;
}

.filters-list-btn:hover {
    color: var(--filters-list-btn-hover);
    background-color: var(--filters-list-btn-background-hover);
}

.filter-btn-1 {
    padding: 6px 25px;
}

.filter-btn-2 {
    padding: 6px 22px;
}

.filter-btn-3 {
    padding: 6px 22px;
}

.filter-btn-4 {
    padding: 6px 22px;
}

.filter-btn-5 {
    padding: 6px 22px;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.projects-list-item {
    flex-basis: calc((100% - 60px) / 3);
    outline: 1px solid rgba(238, 238, 238, 1);
}

.projects-list-img {
    width: 370px;
    height: 294px;
}

.projects-list-title {
    color: var(--projects-list-title-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2.0;
    letter-spacing: 0.06em;
    text-align: left;
    padding: 20px 24px 0 20px;
}

.projects-list-description {
    color: var(--projects-list-description-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.9;
    letter-spacing: 0.03em;
    text-align: left;
    padding: 0 24px 20px 24px;
}

.footer {
    background-color: var(--footer-background-color);
    padding: 60px 0;
}

.footer-logo {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: left;
    margin-bottom: 20px;
}

.footer-logo-web {
    color: var(--footer-logo-web-color);
}

.footer-logo-studio {
    color: var(--footer-logo-studio-color);
}

.address-list-item {
    margin-bottom: 9px;
}

.address-list-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: left;
}

.address-list-link-location {
    color: var(--address-list-link-location-color);
}

.address-list-link-contacts {
    color: var(--address-list-link-contacts-color);
}

.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}