body {
    font-family: Roboto;
}

.header-logo {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: left;
}

/* .header-logo-web */

/* .header-logo-studio */

.nav-list-link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
}

.contacts-list-link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
}

.filters-list-btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-align: center;
}

.projects-list-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2.0;
    letter-spacing: 0.06em;
    text-align: left;
}

.projects-list-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.9;
    letter-spacing: 0.03em;
    text-align: left;
}

.footer-logo {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: left;
}

/* .footer-logo-web */

/* .footer-logo-studio */

.address-list-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: left;
}