:root {
    /* --header-background-color: rgba(255, 255, 255, 1); */

    --header-logo-web-color: rgba(33, 150, 243, 1);
    --header-logo-studio-color: rgba(0, 0, 0, 1);

    --nav-list-color: rgba(33, 33, 33, 1);
    --nav-list-hover: rgba(33, 150, 243, 1);

    --contacts-list-color: rgba(117, 117, 117, 1);
    --contacts-list-hover: rgba(33, 150, 243, 1);

    --hero-background-color: rgba(47, 48, 58, 1);

    --hero-title-color: rgba(255, 255, 255, 1);

    --hero-btn-color: rgba(33, 150, 243, 1);
    --hero-btn-hover: rgba(24, 140, 232, 1); 

    /* --features-background-color: rgba(255, 255, 255, 1); */

    --features-list-title-color: rgba(33, 33, 33, 1);

    --features-list-description-color: rgba(117, 117, 117, 1);

    --work-title-color: rgba(33, 33, 33, 1);

    --team-background-color: rgba(245, 244, 250, 1);

    --team-title-color: rgba(33, 33, 33, 1);

    --team-list-title-color: rgba(33, 33, 33, 1);

    --team-list-description-color: rgba(117, 117, 117, 1);

    --footer-background-color: rgba(47, 48, 58, 1);

    --footer-logo-web-color: rgba(33, 150, 243, 1);
    --footer-logo-studio-color: rgba(255, 255, 255, 1);

    --address-list-link-color: rgba(255, 255, 255, 0.6);
}

body {
    font-family: Roboto;
}

.header-logo {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: left;
}

/* .header-logo-web  */

/* .header-logo-studio */

.nav-list-link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
}

.contacts-list-link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
}

.hero-title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-align: center;
}

.hero-btn {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
    text-align: center;
}

.features-list-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: left;
}

.features-list-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: left;
}

.work-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
}

.team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
}

.team-list-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
}

.team-list-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
}

.footer-logo {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: left;
}

/* .footer-logo-web */

/* .footer-logo-studio */

.address-list-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: left;
}